<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#f442c5">
<meta name="author" content="Riichi">
<meta property="og:title" content="Lucia">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gate.lolization.space/profile">
<meta property="og:image" content="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048">
<meta property="og:description" content="One of the smallest Software Publisher in Indonesia. Because we like it small.">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

<div id="wrapper">

            <header id="header">
                {{!-- How to set Avatar
                https://cdn.discordapp.com/avatars/User-ID/Avatar-ID.png?size=2048 --}}
                <img src="https://cdn.discordapp.com/avatars/{{userId}}/{{avatarId}}.png?size=2048" height="100" width="100"></img>
                <div class="content">
                    <div class="inner">
                        <h1>{{username}}</h1>
                        <p>{{email}}</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#profile">Profile</a></li>
                    </ul>
                </nav>
            </header>

<div id="main">

            <article id="profile">
                <h2 class="major">Your Profile</h2>
                <p>This page is just for purpose of testing</p>
                <ul>
                    <li>Verified: {{verificationStatus}}</li>
                    <li>Locale: {{locale}}</li>
                    <li>MFA Enabled: {{mfa}}</li>
                    <li>Discord Tag: {{username}}#{{discriminator}}</li>
                </ul>
            </article>

</div>
</div>

<div id="bg"></div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
{{!-- <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#f442c5">
        <meta name="author" content="Riichi">
        <meta property="og:title" content="Lucia">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://gate.lolization.space/profile/">
        <meta property="og:image" content="https://cdn.discordapp.com/avatars/515799290833272849/978bd1a368e64f846d3c3472c1137a4a.png?size=2048">
        <meta property="og:description" content="Your Discord Profile page.">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">
        <div id="warpper">
            <header id="header">
                {{!-- How to set Avatar
                https://cdn.discordapp.com/avatars/User-ID/Avatar-ID.png?size=2048 --}}
                <img src="https://cdn.discordapp.com/avatars/{{userId}}/{{avatarId}}.png?size=2048" height="100" width="100"></img>
                <div class="content">
                    <div class="inner">
                        <h1>{{username}}</h1>
                        <p>{{email}}</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#profile">Profile</a></li>
                    </ul>
                </nav>
            </header>
        <div id="main">
            <article id="profile">
                <h2 class="major">Your Profile</h2>
                <p>This page is just for purpose of testing</p>
                <ul>
                    <li>Verified: {{verificationStatus}}</li>
                    <li>Locale: {{locale}}</li>
                    <li>MFA Enabled: {{mfa}}</li>
                    <li>Discord Tag: {{username}}#{{discriminator}}</li>
                </ul>
            </article>
        </div>

        <div id="bg"></div>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html> --}}