	<!DOCTYPE html>
	<html>
	<head>
		<title>Lucia Websocket</title>
		<meta charset="UTF-8">
		<meta name="author" content="Riichi">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/exosuit.css">
	</head>
	<body>
	<div class="container u-full-width">
		<div class="row">
		<div class="twelve columns" style="text-align:center">
		<section id="header">{{header}}</section>
		</div>
		</div>
		<div class="row" style="text-align:center">
		<nav class="twelve columns">
			<ul class="nav">
			<li><a href="index.html">GATE</a></li>
			<li><a href="hall.html">HALL</a></li>
			<li><a href="armory.html">ARMORY</a></li>
			</ul>
		</nav>
		</div>
		<div class="row" style="text-align:center">
		<div class="twelve columns">
			<figure>
			<a href="https://discordbots.org/bot/475225954101231626" >
			<image src="https://discordbots.org/api/widget/475225954101231626.svg" alt="Carcano M1891" />
			</a>
			<image class="u-max-full-width" src="assets/images/welcome2.png" alt="Anti-Rain Team"/>
			<figcaption>There's nothing to see here, unless you like shitposting..</figcaption>
			</figure>
		</div>
		</div>
	</div>
	</body>
	</html>